
<h1>Posts</h1>



<div class="mb-5">    
  <%= render 'form', post: @post %>
</div> 


<% @posts.each do |post| %>  



<div class="card mb-3">
  <div class="card-header">
    <strong>posted:</strong> <em> <%= time_ago_in_words(post.created_at) %> ago</em>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p><%= post.body %></p>
      <% if member_signed_in? %>
      <footer class="blockquote-footer"><%= post.member.username %></footer>
    </blockquote>
      <% if member_signed_in? && current_member.id == post.member_id%>

    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    <% end %>
  </div>
</div>

<% end %>