<!DOCTYPE html>
<html>
<head>
	<title>MembersOnly</title>
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>

	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>


	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		<a class="navbar-brand ml-4" href="/">Exclusive Clubhouse</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="ml-auto d-flex">

			<% if member_signed_in? %>
			<div>
				<%= link_to current_member.username, edit_member_registration_path, class: "text-white" %>
			</div> 

			<div>
				<%= link_to 'Logout', destroy_member_session_path, class: "btn btn-md btn-primary ml-5 mr-5", method: :delete, data: {confirm: "Are you sure?"} %>
			</div>

			<% else %>

			<div>
				<%= link_to 'Sign In', new_member_session_path, class: "btn btn-md btn-primary" %>
			</div>
			<div>
				<%= link_to 'Sign Up', new_member_registration_path, class: "btn btn-md btn-primary ml-3 mr-5" %>
			</div>
			<% end %>
		</div>
	</nav>




	<div class="container">

		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>






		<%= yield %>

	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
